$primary-color: #3d454f;
$secondary-color: #cebc81;
$font-color: whitesmoke;






//navbar

.top-bar {
    background-color: $primary-color;
   
}


.top-bar-left {
    padding-left: 40px;
    color: black;

    #logo-container {
        height: 55px;
    }

    img {
        
        width:50px;
        height:50px;
        
    }
    #profolio {
        padding-top: 0;
        position: absolute;
        font-size: 40px;
        

        #pro {
            color: $font-color;
        }
    }
}

#top-bar-right-ul{
 background-color: $primary-color;
 li {
    list-style: none;
    float: left;
    padding: 10px 13px;
    font-size: 20px; //was 27 did not fit on my computer res
    cursor: pointer;
    color: $font-color;
    &:hover{
        color: $secondary-color;
    }
  }
  
}


//minibar
.top-nav {
    width: 100%;
    background-color: rgb(44, 44, 44);
    padding: 0;
    margin: 0;
    
    
}

.top-list {
    padding: 0;
    margin: 0;
  
    overflow: hidden;
    float: left;
    padding: 10px 15px;
    color: $font-color;
    font-size: 13px;
    padding-left: 35px;
}

.top-list-right {
    padding: 0;
    padding-right: 60px;
    margin: 0;
    list-style: none;
    overflow: hidden;
    float: right;
  

    li {
    
      list-style: none;
      float: left;
      padding: 10px 15px;
      font-size: 13px;
      color: $font-color;
      cursor: pointer;
      &:hover{
          color: $secondary-color;
      }
    }
}

//body

html {
    overflow: hidden;
}

.background{

    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-image: url(../images/emile-perron-xrVDYZRGdw4-unsplash.jpg);
    background-repeat: no-repeat;
    width: 100%;
    z-index: -2; 
    background-size: cover; 
    background-attachment: fixed;
    position: absolute;

}

.overlay {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(rgb(26, 24, 17), 0.6);
    z-index: -1;
}

//login

.sign-in-form {
    padding: 1rem 1.5em;
    border-radius: .5rem;
    background-color: $primary-color;
    width: 20%;
    position: absolute;
    right: 0;
    left: 0;
    padding: 2%;
    
    margin: auto auto;

    h4 {
      color: $font-color;
      margin-bottom: 1rem;
      font-weight: 600;
      text-transform: uppercase
    }
  
    label {
      text-transform: uppercase;
      color: $font-color;
      letter-spacing: 1px;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  
    input {
      color: black;
      font-size: 20px;
    }
  
    input:focus {
      opacity: .5;
      background: $secondary-color;
    }
  }
  
  .sign-in-form-username,
  .sign-in-form-password {
    border-radius: 30px;
    border: none;
    opacity: .1;
    transition: all ease .4s;
  }
  
  .sign-in-form-button {
    border-radius: 30px;
    border: 1px solid $font-color;
    color: $font-color;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 1rem;
    transition: all ease .4s;
  
    &:hover {
      background-color: $secondary-color;
      border-color: $secondary-color;
    }

  }

  .cell-style{
    background-color: $primary-color;
    color: $font-color;
    border-radius: 20px;
    border-color: $secondary-color;
    //border-style: groove;
    //there should be a way to choose what border to show
  }

  .margins{
    margin-left: 15px;
    
  }

  .margin-items{
      
    padding-top: 12px;
        
  }

  #cellwall{
    background-color: transparent;
    height: 600px;
    width: 90%;
    margin: 0% 5% 0 5% ;
    overflow: hidden;
    z-index: 100;

  }




//   #cellwall{
//       padding-right: 100px;
//       padding-left: 100px;
//       overflow: hidden;
//       height: 200px;
//   }

// #profile-pic{
//   width: 60%;
//   max-width: 200px;
//   margin-right: auto;
//   margin-left: auto;

//   .pic{
//     max-height: 100%;
//     max-width: 100%;
//   }
// }



/*******************************carousel********************************/ 

.slider-button{
  color: $secondary-color;
}

#caption{
  background-color: $secondary-color;
  color: $primary-color;
  text-align: center;

  

}

.slider {
  img{
    height: auto;
    max-height: 600px;
  }
  background-color: transparent;

  .website{
    max-width: 100%;
    width: auto;
    margin-left: 300px;

    
  }

}

#website-caption{
  color: $primary-color;
  background-color: $secondary-color;

}

/**********************************************************************/ 

/****************************** SKILLS AND PROJECTS STYLING *******************/

.skill-name {
  font-size: 1.8rem;
  color: wheat;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  
}


.skill-description {
  overflow: hidden;
}



/**************************************************************************************/
/********************************* CONTACT CARD **************************************/
#c {
  color: white;
  background: $primary-color;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  height: 1000px;
  width: 500px;
}

.contact-text {
  text-align: center;
}

.contact-item {
  list-style: none;
}

#contact-edit{
  bottom: 0;
  margin-right: 30px;
}
/*************************************************************************************/

/***************************** edit button ***************************************/ 
.buttonIcon {
  float: right;
  margin-bottom: 10px;
}


.buttonIcon:hover {
  color: $secondary-color;
  cursor: pointer;
  
}

/************************o**************************************************/ 
